.loading {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  transform: translate(-50%, -50%);
  color: #da8507;
  border-radius: 50%;
  z-index: 20;

  span {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 50%;
    border-radius: 50%;
    background: #aaa;
    transform-origin: 0 2rem;
    animation: rotate 1.5s infinite ease;

    &:nth-child(1) {
      animation-delay: 0s;
    }
  
    &:nth-child(2) {
      animation-delay: 0.1s;
    }
  
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  
    &:nth-child(4) {
      animation-delay: 0.3s;
    }
  
    &:nth-child(5) {
      animation-delay: 0.4s;
    }
  }

  @keyframes rotate {
    100% { transform: rotate(360deg); }
  }
}