.personal-page {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  background: #fff;
  overflow-y: auto;
  box-sizing: border-box;

  span.header {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}