.doc-user-container {
  position: fixed;
  width: 100%;
  height: calc(100% - 3rem);
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 20;

  .content-container {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    background: #eee;

    .icon {
      position: absolute;
      top: 0.5rem;
      right: -3rem;
      color: #fff;
      transition: color 0.3s;

      &:hover {
        color: #ddd;
      }
    }
  }
}